<!-- left menu / item categories and genres (accordion) -->
<div id="left-menu">
    <p id="acc-title"> Browse here!</p>
    <!-- e-books section -->
    <button id="acc-1" class="acc-button acc-text hvr-border-fade">
        Books
        <i class="fa fa-caret-down hvr-sink"></i>
    </button>
    <div class="acc-panel">
        <a id="books-all" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/all">
            All 
        </a>
        <a id="books-action" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/action">
            Action
        </a>
        <a id="books-adventure" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/adventure">
            Adventure
        </a>
        <a id="books-fantasy" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/fantasy">
            Fantasy
        </a>
        <a id="books-mystery" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/mystery">
            Mystery
        </a>
        <a id="books-scifi" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/scifi">
            Sci-Fi
        </a>
        <a id="books-romance" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/romance">
            Romance
        </a>
        <a id="books-comedy" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/book/comedy">
            Comedy
        </a>
    </div>
    <!-- movies section -->
    <button id="acc-2" class="acc-button acc-text hvr-border-fade">
        Movies
        <i class="fa fa-caret-down hvr-sink"></i>
    </button>
    <div class="acc-panel">
        <a id="movies-all" class="genre-button genre-text hvr-border-fade2" 
            href="/list_browse/movie/all">
            All
        </a>
        <a id="movies-action" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/action">
            Action
        </a>
        <a id="movies-adventure" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/adventure">
            Adventure
        </a>
        <a id="movies-fantasy" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/fantasy">
            Fantasy
        </a>
        <a id="movies-mystery" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/mystery">
            Mystery
        </a>
        <a id="movies-scifi" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/scifi">
            Sci-Fi
        </a>
        <a id="movies-romance" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/romance">
            Romance
        </a>
        <a id="movies-comedy" class="genre-button genre-text hvr-border-fade2"
            href="/list_browse/movie/comedy">
            Comedy
        </a>
    </div>
</div>