<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- title of webpage -->
    <title> Bookflix </title>

    <!-- webpage tab icon -->
    <link rel="icon" type="image/png" href="/public/images/icons/tab-icon.png">

    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="/public/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/public/css/hover-effects.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style2.css">
    <link rel="stylesheet" type="text/css" href="/public/css/register.css">
    <link rel="stylesheet" type="text/css" href="/public/css/delete-confirmation.css">

    <!-- Font Awesome icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body class="main-body">
    <!-- navigation bar (partials) -->
    {{> topbar user=user_info cart_items=cart tPrice=totalPrice}}
    <!-- left menu (genre buttons and filter) -->
    {{> leftbar}}
    <!-- main page contents -->
    <div id="page-contents">
        <div class="h-spacer"></div>
        <div id="reg-box">
            <div class="title-break">Login</div>
            {{!-- <form method="POST" action="/login" id="registration" name="login-form"> --}}
            <form method="POST" action="/login" id="registration" name="login" autocomplete="off">
                <!-- display error message if there is -->
                <label for="user">Username</label>
                <input type="text" id="user" name="user" value="{{user}}">
                <p id="userError" style="color: rgb(228, 61, 61)"> {{userError}} </p>

                <label for="pass">Password</label>
                <input type="password" id="pass" name="pass">
                <p id="passError" style="color: rgb(228, 61, 61)"> {{passError}} </p>

                <div style="text-align: center">
                    <button id="submit" type="submit" class="clickable" style="width: 64px"> Login </button> 
                    <a class="clickable-a" style="width: 64px" href="/register"> Sign Up </a>
                </div>
            </form>
        </div>
    </div>

    <!-- external javascript -->
    <script type="text/javascript" src="/public/js/script.js"></script>
    <script type="text/javascript" src="/public/js/login.js"></script>
</body>

</html>