#reg-box {
	width: 720px;
	padding: 16px 8px;
	margin: auto;
	border: 1px solid #555555;
}

#registration {
	padding: 8px 16px;
}

#registration label {
	vertical-align: center;
	font-size: 20px;
	width: 25%;
}

#registration input {
	width: 70%;
	background-color: #333333;
	border: 0px;
	font-family: 'Bebas Neue Pro';
	color: white;
}